:root {
  /* color */
  --color-grey: darkslategrey;
  --color-blue: dodgerblue;
  --color-yellow: khaki;
  --color-pink: palevioletred;

  /* size */
  --base-space: 8px;
  --button-font-size: 16px;
  --width-button: 50px;
  --height-button: 40px;
  --size-thumbnail: 40px;
  --size-border: 4px;

  /* animation */
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  transition: transform var(--animation-duration) ease;
}

header:hover {
  cursor: pointer;
  transform: scale(1.1);
}

header img {
  width: var(--width-button);
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: auto;
}

nav ul li {
  list-style-type: none;
  margin-right: var(--base-space);
  cursor: pointer;
  border: 0;
  transition: transform var(--animation-duration) ease;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav ul li img {
  width: var(--width-button);
}

.btn {
  font-size: var(--button-font-size);
  width: calc(var(--width-button) * 1.5);
  height: var(--height-button);
  border: none;
  border-radius: var(--size-border);
  color: var(--color-grey);
  font-weight: bold;
  outline: none;
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.products {
  overflow-y: scroll;
}

.product {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: var(--size-border);
  padding: var(--base-space);
  margin: var(--base-space);
}

.product img {
  width: var(--size-thumbnail);
}

.product__description {
  padding: var(--base-space) calc(var(--base-space) * 2);
}
