:root {
  /* color */
  --color-grey: darkslategrey;
  --color-blue: dodgerblue;
  --color-yellow: khaki;
  --color-pink: palevioletred;

  /* size */
  --width-button: 70px;
  --height-button: 40px;
  --width-product: 40px;

  /* animation */
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  transition: transform var(--animation-duration) ease;
}

header:hover {
  cursor: pointer;
  transform: scale(1.1);
}

header img {
  width: var(--width-button);
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 0 6px 0 0;
}

nav ul li {
  list-style-type: none;
  padding: 6px;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav ul li img {
  width: var(--width-product);
}

[class^="btn"] {
  width: var(--width-button);
  height: var(--height-button);
  margin-bottom: 6px;
  border: none;
  border-radius: 6px;
  color: var(--color-grey);
  font-weight: bold;
}

.btn-blue {
  background-color: var(--color-blue);
}

.btn-yellow {
  background-color: var(--color-yellow);
}

.btn-pink {
  background-color: var(--color--pink);
}

.product {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}

.product img {
  width: 40px;
}

.product__description {
  padding: 10px 20px;
}
